<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
        <h2> وبلاگ</h2>
        <div class="btn-group">
            <a href="/admin/weblog/create" class="btn btn-sm btn-primary"> پست جدید</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>عنوان دوره</th>
                <th>تعداد نظرات</th>
                <th>مقدار بازدید</th>
                <th>تنظیمات</th>
            </tr>
            </thead>
            <tbody>
                <% weblogs.docs.forEach(blog => { %> 
                    <tr>
                        <td><a><%= blog.title %></a></td>
                        <td><%= blog.commentCount %></td>
                        <td><%= blog.viewCount %></td>
                       
                        <td>
                            <form action="/admin/weblog/<%= blog._id %>?_method=DELETE" method="post">
                                <div class="btn-group btn-group-sm">
                                    <a href="/admin/weblog/<%= blog._id %>/edit"  class="btn btn-primary">ویرایش</a>
                                    <button type="submit" class="btn btn-danger">حذف</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <%- include(viewPath('layouts/pagination') ,{ pagination : weblogs}) %>
    </div>
    
    