<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
  <h1>مجله آموزشی مهدیه</h1>
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
    روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
    ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
    تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد
    کرد.</p>
</header>

<div class="row mb-3">
  <div class="col-lg-12">
    <h3>آخرین دوره ها</h3>
  </div>
</div>
<div class="row">
  <% courses.forEach(course => { %>
  <div class="col-6 col-md-3">
    <div class="card">
      <img class="card-img-top" src="<%= course.thumb %>" alt="<%= course.title %>">
      <div class="card-body">
        <h3><a href="<%= course.path() %>">
            <%= course.title %></a></h3>
        <p class="card-text">
          <%- course.body.substr(0,100) %>
        </p>
        <a href="<%= course.path() %>" class="btn btn-primary btn-sm">اطلاعات بیشتر</a>
      </div>
      <div class="card-footer text-muted">
        <%= course.viewCount %> بازدید
      </div>
    </div>
  </div>
  <% }) %>
</div>