<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>
        <%- defineContent('title') || 'مجله آموزشی باهوشان'  %>
    </title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css" />
    <link rel="stylesheet" href="/css/vazir.css">

    <%- style %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#"><span>شماره تماس:</span> <strong style="direction:ltr;text-align: left">09374391095</strong>
                </a>
                <a href="#"><span>پست الکترونیک:</span> alireza.varmaghani@gmail.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>ما را دنبال کنید</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">صفحه اصلی</a></li>
                                <li><a href="/courses">دوره ها</a></li>
                                <li><a href="#">مقالات</a></li>
                                <li><a href="#">وبلاگ</a></li>
                                <li><a href="/about-me">درباره ما</a></li>
                                <li><a href="/contact-us">تماس با ما</a></li>
                            </ul>

                            <!-- Search Button -->
                            <div class="search-area">
                                <form action="/courses" method="GET">
                                    <input type="search" name="search" id="search" placeholder="دنبال چی میگردی ؟">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>

                            <!-- Register / Login -->
                            <div class="register-login-area">
                                <% if(req.getLocale()=='fa'){ %>
                                <a href="/lang/en" class="btn">زبان انگلیسی</a>
                                <% } else if(req.getLocale()=='en'){ %>
                                <a href="/lang/fa" class="btn">زبان فارسی</a>
                                <% }  %>
                                <% if(auth.check) { %>
                                <a href="/user/panel" class="btn">پنل کاربری</a>
                                <a href="/logout" class="btn active">خروج</a>
                                <% } else { %>
                                <a href="/auth/register" class="btn">ثبت نام</a>
                                <a href="/auth/login" class="btn active">ورود</a>
                                <% } %>
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <%- body %>


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Top Footer Area -->
        <div class="top-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="/"><img src="/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Copywrite -->
                        <p><a href="#">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> تمامی حقوق وب سایت محفوظ است
                                و توسط <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="" target="_blank">علیرضا
                                    ورمقانی</a> طراحی شده است
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#"><span>شماره تماس:</span> 09374391095</a>
                <a href="#"><span>ایمیل:</span> alireza.varmaghani@gmail.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>ما را در شبکه های اجتماعی دنبال کنید</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <% let sweetalert = req.flash('sweetalert')
        if(sweetalert.length) {
          let data = sweetalert[0]; %>
    <script>

        Swal.fire({
            title: '<%= data.title %>',
            text: '<%= data.message %>',
            type: '<%= data.type %>',
            showConfirmButton: <%= data.button !== null ? true : false %>,
            confirmButtonText: '<%= data.button %>',
            timer: <%= data.button !== null ? 'null' : data.timer %>,
        })
    </script>
    <% } %>
    <%- script %>
</body>

</html>