<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mb-3">
            <%= course.title %>
        </h1>

        <!-- Author -->
        <p class="text-muted small">
            <span> توسط <a href="#">
                    <%= course.user.name %></a></span>
            -
            <span>ارسال شده در 21 خرداد 1397</span>
        </p>

        <hr>
        <!-- Post Content -->
        <div id="content">
            <%- course.body %>
        </div>
        <hr>


        <% if(auth.check) { %>
        <% if(course.type =='vip') {
                    if(! canUserUse) { %>
        <div class="alert alert-danger">برای مشاهده این دوره نیاز است عضویت ویژه را تهیه کنید</div>
        <% }
                } else if(course.type =='cash') { 
                    if(! canUserUse) { %>
        <div class="alert alert-danger">برای مشاهده این دوره نیاز است بصورت نقدی دوره راه تهیه کنید</div>
        <% } else { %>
        <div class="alert alert-success">شما در این دوره ثبت نام کرده اید</div>
        <% }
                } 
            } else { %>
        <div class="alert alert-danger">برای مشاهده این دوره نیاز است ابتدا وارد سایت شوید</div>
        <% } %>

        <h3>قسمت های دوره</h3>
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>شماره قسمت</th>
                    <th>عنوان قسمت</th>
                    <th>زمان قسمت</th>
                    <th>دانلود</th>
                </tr>
            </thead>
            <tbody>

                <% course.episodes.forEach(episode => { %>
                <tr>
                    <th><a href="/courses/آموزش-پروژه-محور-bootstrap-1/1">
                            <%= episode.number %></a></th>
                    <td>
                        <%= episode.title %>
                    </td>
                    <td>
                        <%= episode.time %>
                    </td>
                    <td>
                        <a href="<%= episode.download(auth.check,canUserUse) %>">دانلود</a>
                    </td>
                </tr>
                <% }) %>

            </tbody>
        </table>
        <!-- Blog Comments -->
        <hr>
        <%- include(viewPath('layouts/comments') , { subject : course}) -%>
        

        <div class="modal fade" id="sendCommentModal" tabindex="-1" role="dialog" aria-labelledby="sendCommentModalLabel"
            aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">ارسال پاسخ</h4>
                        <button type="button" class="close" style="margin-left: -1rem;" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <form action="/comment" method="post">

                            <input type="hidden" name="parent" value="5b30616db2f8293ca4cad0b9">
                            <input type="hidden" name="course" value="5b1e4a0ac4cf2d675052a78a">

                            <div class="form-group">
                                <label for="message-text" class="control-label">متن پاسخ:</label>
                                <textarea class="form-control" id="message-text" name="comment"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">ارسال</button>
                                <button type="button" class="btn btn-default mr-2 ml-0" data-dismiss="modal">انصراف</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <!-- Blog Sidebar Widgets Column -->

    <div class="col-md-4">
        <% if(course.type =='cash') { 
                if(! canUserUse) { %>
        <div class="card my-4">

            <div class="card-body">
                <p>برای استفاده از این دوره نیاز است این دوره را با مبلغ
                    <%= course.price %> تومان خریداری کنید</p>
                <form action="/course/payment" method="post">
                    <input type="hidden" name="course_id" value="5b1e4a0ac4cf2d675052a78a">
                    <button type="submit" class="btn btn-success">خرید دوره</button>
                </form>
            </div>
        </div>
        <% }} %>






        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">جستجو</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="دنبال چی میگردی ؟">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">جستجو!</button>
                    </span>
                </div>
            </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">دسته بندی ها</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">طراحی وب</a>
                            </li>
                            <li>
                                <a href="#">HTML</a>
                            </li>
                            <li>
                                <a href="#">برنامه نویسی</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">جاوااسکریپت</a>
                            </li>
                            <li>
                                <a href="#">سی اس اس</a>
                            </li>
                            <li>
                                <a href="#">آموزش تخصصی</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>