<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
    <h2>ویرایش مدرس</h2>
</div>
<form class="form-horizontal" action="/admin/teachers/<%= teacher._id %>?_method=put" method="post"
    enctype="multipart/form-data">

    <%- include(viewPath('layouts/error-messages')) -%>

    <div class="form-group row">
        <div class="col">
            <label for="fullName" class="control-label font-weight-bold">نام و نام خانوادگی</label>
            <input type="text" class="form-control" name="fullName" id="fullName" placeholder="عنوان را وارد کنید"
                value="<%= teacher.fullName %>">
        </div>

    </div>
    <div class="form-group row">
        <div class="col">
            <label for="expertise" class="control-label font-weight-bold">تخصص مدرس</label>
            <input type="text" class="form-control" name="expertise" id="expertise" placeholder="عنوان را وارد کنید"
                value="<%= teacher.expertise %>">
        </div>

    </div>

    <div class="form-group row">
        <div class="col">
            <label for="body" class="control-label font-weight-bold">درباره مدرس</label>
            <textarea rows="10" class="form-control" name="body" id="body"
                placeholder="متن مقاله را وارد کنید"><%= teacher.body %></textarea>
        </div>
    </div>
    <div class="form-group row">

        <div class="col">
            <label for="images" class="control-label font-weight-bold">تصویر استاد</label>
            <input type="file" class="form-control" name="images" id="images" placeholder="تصویر مدرس را وارد کنید">
        </div>
    </div>
    <div class="form-group row">
        <% Object.entries(teacher.images).forEach(([size , image]) => { %>
        <div class="col-sm-2">
            <label class="control-label">
                <%= size %>
                <input type="radio" name="imagesThumb" value="<%= image %>" checked="">
                <a href="<%= image %>" target="_blank"><img src="<%= image %>" width="100%"></a>
            </label>
        </div>
        <% }) %>
    </div>
    <div class="form-group row">

        <div class="col">
            <label for="tags" class="control-label font-weight-bold">تگ ها</label>
            <input type="text" class="form-control" name="tags" id="tags" placeholder="تگ ها را وارد کنید"
                value="<%= teacher.tags %>">
        </div>
    </div>
    <div class="form-group row">

        <div class="col">
            <label for="facebook" class="control-label font-weight-bold">فیس بوک</label>
            <input type="text" class="form-control" name="facebook" id="facehbook" placeholder="فیس بوک را وارد کنید"
                value="<%= teacher.facebook %>">
        </div>
        <div class="col">
            <label for="instagram" class="control-label font-weight-bold"> اینستاگرام</label>
            <input type="text" class="form-control" name="instagram" id="tainstagramgs"
                placeholder="ایستاگرام را وارد کنید" value="<%= teacher.instagram %>">
        </div>
        <div class="col">
            <label for="email" class="control-label font-weight-bold">ایمیل</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="ایمیل را وارد کنید"
                value="<%= teacher.email %>">
        </div>
    </div>
    <div class="form-group row">

        <div class="col">
            <label><input  <%=teacher.showInMain ? 'checked' : '' %> type="checkbox" name="showInMain">آیا میخواهید نام
                استاد در صفحه اصلی نمایش داده شود</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-danger">ارسال</button>
        </div>
    </div>
</form>


<script src="/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('body', {
        filebrowserUploadUrl: '/admin/upload-image'
    })

</script>